<h1>Wiki</h1>
<main role="main" class="container">
 <% @wikis.each do |wiki| %>
    <div class="blog-post-title">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
 <% end %>
